In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
fake = pd.read_csv("Fake.csv")
true = pd.read_csv("True.csv")
fake.drop(["date", "subject"], axis=1, inplace=True)
true.drop(["date", "subject"], axis=1, inplace=True)

In [ ]:
true.head()

,title,text,type
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,fake

In [ ]:
fake.head()

,title,text
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk..."
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ..."
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...

In [ ]:
fake["type"] = "fake"
true["type"] = "true"
data = pd.concat([fake, true]).reset_index(drop=True)
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [19]:
def preprocess_text(text):
    text = text.lower()
    text = ''.join(char for char in text if char.isalnum() or char.isspace())    
    text = ' '.join(text.split())
    return text

In [23]:
data["title"] = data["title"].apply(preprocess_text)
data["text"] = data["text"].apply(preprocess_text)

In [ ]:
data.head()

,title,text,type
0,former cia director worried russia tried to re...,washington reuters former cia director john br...,true
1,the view women go off the rails trump has to s...,,fake
2,democrats skip trump meeting raising risk of g...,washington reuters democratic leaders in congr...,true
3,obama makes stunning 11th hour gift of massive...,in what amounts to an 11th hour gift by the ou...,fake
4,trump has friendly call with mexican leader bu...,washington reuters the presidents of the unite...,true

In [27]:
train_df, val_df = train_test_split(
    data,
    test_size=0.2,
    stratify=data["type"],
    random_state=42,
)

In [28]:
train_df.to_csv("train.csv", index=False)
val_df.to_csv("val.csv", index=False)